<launch>
    <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="screen">
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <!-- <param name="image_width" value="320" />
        <param name="image_height" value="240" /> -->
        <param name="framerate" value="30" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_name" value="head_camera"/>
    </node>
        <param name="pixel_format" value="yuyv" />
        <!-- <param name="io_method" value="mmap"/> -->
        <param name="camera_name" value="head_camera"/>


    <!-- <node pkg="myros" type="take.py" name="take" output="screen" /> -->
    <!-- <node pkg="myros" type="take.py" name="take" output="screen">
        <remap from="/camera/image_raw" to="/usb_cam/image_raw" />
    </node> -->

    <!-- <node pkg="myros" type="ambil_gambar.py" name="vision_node" output="screen" /> -->
    <!-- <node pkg="cam" type="opencam.py" name="kamera_1" output="screen" /> -->
    <!-- <node pkg="cam" type="kamera3.py" name="kamera_all" output="screen" /> -->
    <!-- <node pkg="cam" type="flycam2.py" name="GUI_Kamera" output="screen" /> -->

    <!-- <node pkg="cam" type="drop.py" name="kamera_drop" output="screen" /> -->
    <!-- <node pkg="cam" type="pick.py" name="kamera_pick" output="screen" /> -->
    <!-- <node pkg="cam" type="guifix.py" name="GUI_Kamera" output="screen" /> -->

    <node pkg="newvis" type="vision1_node" name="kamera1_pickup" output="screen" />
    <!-- <node pkg="newvis" type="vision2_node" name="kamera2_droping" output="screen" /> -->
    <!-- <node pkg="newvis" type="vision3_node" name="kamera3_landing" output="screen" /> -->
    <!-- <node pkg="newvis" type="kalibrasi_node" name="kalibrasi" output="screen" /> -->
    <!-- <node pkg="newvis" type="gui_cam_node" name="gui_node" output="screen" /> -->
    <!-- <node pkg="newvis" type="openkam_node" name="opencv_ros_example" output="screen" /> -->



    <!-- <node pkg="cam" type="kamera1.py" name="kamera1_pickup" output="screen" />
    <node pkg="cam" type="kamera2.py" name="kamera2_dropout" output="screen" />
    <node pkg="cam" type="kamera3.py" name="kamera3_landing" output="screen" /> -->
    <!-- <node pkg="cam" type="guifix.py" name="GUI_Kamera" output="screen" /> -->

    <!-- <node pkg="cam" type="gui2.py" name="GUI_Kamera" output="screen" /> -->
    <!-- <node pkg="cam" type="guivtol.py" name="image_viewer" output="screen" /> -->

    <!-- <node pkg="cam" type="test.py" name="camera_node" output="screen" /> -->


    <!-- <node pkg="cam" type="drop.py" name="kamera_gui" output="screen" /> -->
    <!-- <node pkg="cam" type="merah_biru.py" name="kamera_3" output="screen" /> -->
    <!-- <node pkg="cam" type="calibrate.py" name="hsv" output="screen" /> -->
    <!-- <node pkg="cam" type="RGB.py" name="RGB" output="screen" /> -->
    <!-- <node pkg="yolo" type="yoloros3.py" name="yolo_object" output="screen" /> -->
    <!-- <node pkg="cam" type="opencam.py" name="open_cam" output="log" /> -->
    <!-- <node pkg="cam" type="sub.py" name="vision" output="screen" /> -->
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baud" value="57600"/>
    </node>
</launch>
